.container-productos {
    /* padding: 2rem 5%; */
    /* min-height: 80vh; */
    /* background-color: #000; */
}

.grid-productos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 2rem;
    justify-content: center;
    padding-top: 2rem;

}

.container-productos h2 {
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  margin-bottom: 3rem;
}

.filter-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.btn-filter {
    background: #1a1a1a;
    color: white;
    border: 1px solid #333;
    padding: 8px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-filter.active, .btn-filter:hover {
    background: #007bff;
    border-color: #007bff;
}